*{
    box-sizing: border-box;
    /* margin: 0px; */
    /* padding: 0px; */
    text-align: center;
    background-color: black;
}
body{
    background-color: rgb(242, 238, 246);
}

.contain{
     display: inline-block;
     background-color:  aliceblue;
    
}
.one{
    margin-right: 0.1px;
}

.h{
    height: 35px;
    text-align: center;
    padding-top: 7px;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
}
.a{
    background-color:rgb(9, 202, 64);
}
.b{
    background-color: rgb(228, 156, 12);
}
p{
    height: 70px;
    background-color: aliceblue;
}


